
// Elements Styles
label{
    display:inline;
    font-size: 20px;
}

input{
    background-color: transparent;
    display: inline;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 240px;
    height: 60px;
    background: white;
    color: black;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 45px;
}


// specific styles
.title{
    align-content: center;
    font-size: 1em;
}

#start{
    width: 150px;
}

#end{
    width: 150px;
}

#place_name{
    width: 140px;
}

input:hover {
    border:black solid;
  }

button:hover {
    border:black solid;
}

img{
    width: 280px;
    height: 180px;
    border-radius: 25px;
}

#pic{
margin: 10px;
}

// Page Layout
body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    justify-content: center;
}

.headline {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.holder {
    background-color: rgb(248, 215, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.output_holder{
    background-color:  rgb(248, 215, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#entryHolder{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-style: bold italic;
}

.outerContainer{
    float: left;
}

.container{
    align-items: center;
}

@media (min-width: 600px) and (max-width: 909px){

    .output_holder{
        background-color:  rgb(248, 215, 220);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    img{
        width: 350px;
        height: 210px;
        border-radius: 25px;
    }

    #entryHolder{
        display: flex;
        flex-direction: column;
        font-size: 1.7em;
        font-style: bold;
    }

    label{
        display:inline;
        font-size: 25px;
    }

    button{
        width: 315px;
        height: 65px;
        background: white;
        color: black;
        font-size: 35px;
        font-family: 'Oswald', sans-serif;
        border: none;
        box-shadow: 2px 4px 5px #444;
    }

    input{
        background-color: transparent;
        display: inline;
        color: black;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        border: none;
    }

    #start{
        width: 200px;
    }
    
    #end{
        width: 200px;
    }
    
    #place_name{
        width: 200px;
    }
}

@media (min-width: 910px) {

    .output_holder{
        background-color:  rgb(248, 215, 220);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    img{
        width: 420px;
        height: 240px;
        border-radius: 25px;
    }

    #entryHolder{
        display: flex;
        flex-direction: column;
        font-size: 2em;
        font-style: bold;
    }

    label{
        display:inline;
        font-size: 35px;
    }

    button{
        width: 420px;
        height: 75px;
        background: white;
        color: black;
        font-size: 42px;
        font-family: 'Oswald', sans-serif;
        border: none;
        box-shadow: 2px 4px 5px #444;
    }

    input{
        background-color: transparent;
        display: inline;
        color: black;
        font-size: 35px;
        font-family: 'Oswald', sans-serif;
        border: none;
    }

    #start{
        width: 250px;
    }
    
    #end{
        width: 250px;
    }
    
    #place_name{
        width: 250px;
    }
}