header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: black;

}

header div{
    color: lightgray;
    text-align: left;
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 40px;
}